/* Profile.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Domine:wght@400..700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

.main-student {
    position: relative;
    height: 100vh;
    background-image: url('../../../assets/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58%;
}

.main-student .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); /* White overlay with 60% opacity */
    z-index: 1; /* Ensure it’s above the background image but below content */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Space between quiz cards */
    position: relative; /* Ensure quizzes are above the overlay */
    z-index: 2; /* Higher than the overlay */
}

.profile-card {
  
    border: 1px solid #debb10; /* Card border */
    padding: 20px; /* Inner padding */
    border-radius: 15px; /* Rounded corners */
    background-color: #f9f6ee; /* Card background color */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: transform 0.2s, box-shadow 0.2s; /* Transition for hover effect */
    margin: 20px 0; /* Space around the card */
    text-align: center;

}

.profile-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    background-color: #fdfcf6; /* Card background color */

}

.profile-card h3 {
    margin: 0 0 20px 0; /* Margin below the quiz name */
    color: #343563;
    letter-spacing: 0.5px; /* Add some spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Light shadow */
    font-weight: 700; /* Bolder for emphasis */
    font-family: "Domine", serif;
    font-size: 40px;
}

.profile-card strong {
    color: #504e5a;
}

.profile-card p {
    margin: 20px 0; /* Margin between paragraphs */
    font-size: 20px; /* Adjust font size */
    line-height: 1.5; /* Improve readability */
    letter-spacing: 0.5px; /* Add some spacing */
    
}

