.sec-about {
    margin: 100px auto;
    justify-content: space-around;
    text-align: left;
    line-height: 40px;
    color: #010133cc;
    font-size: 20px;
    flex-direction: row !important;
}

.sec-about .content-vision {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.sec-about ul {
    text-align: left;
    direction: ltr;
}
.vision{
    flex-direction: row !important;
}

.vision img {
    margin-top: 50px;
}

.content-message {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 30px;
}


@media (max-width:992px) {
    .sec-about {
        flex-direction: column;
        align-items: center;
    }

    .sec-about .content-vision {
        width: 80%;
    }
}