@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

a {
    text-decoration: none;
}